* {
  margin: 0;
  padding: 0;
}
/* Navbar */
.navbar {
  height: 60px;
  background-color: #0f1111;
  display: flex;
  align-items: center;
}

.border:hover {
  border: 1px solid white;
  transition: none;
}

/* main-logo */
.main-logo {
  height: 60px;
  width: 130px;
  margin-right: 10px;
  margin-left: 15px;
  padding: 4px 0px 0px;
}
.logo {
  background-color: black;
  background-image: url("amazon_logo.png");
  background-size: cover;
  height: 48px;
  width: 120px;
  margin: 1px;
  position: static;
}
.border1 {
  height: 53px;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Nav-location */
.nav-location {
  margin-left: 15px;
  height: 50px;
  width: 196px;
  padding-left: 9px;
  margin: 5px 2px 5px 0px;

  text-align: center;
}
.adress1 {
  color: rgb(230, 233, 237, 0.9);
  font-size: small;
}
.location-icon {
  display: flex;
  color: aliceblue;
}
.adress2 {
  font-size: large;
  font-weight: 200;
}

/* Search-bar */
.search-barext {
  height: 60px;
  width: 930px;
  margin-right: 20px;
  padding: 10px 4px 10px 3px;
  /* background-color: aqua; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-bar {
  width: 930px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* background-color: bisque; */
}
.lens {
  height: 40px;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #febd69;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  font-size: 1.2rem;
}
.search {
  border: none;
  padding: none;
  height: 40px;
  width: 930px;
}
.category {
  height: 40px;
  width: 50px;
  border: none;
  background-color: rgb(220, 216, 216);
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

/* Country name */
.country {
  font-size: 1.2rem;
  color: rgb(236, 241, 240);
  height: 50px;
  width: 45px;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

/* Sign in */
.signin {
  color: aliceblue;
  margin-left: 25px;
}
.hello {
  font-size: 13px;
  color: rgb(223, 227, 231, 0.9);
  text-align: left;
}
.acc {
  font-weight: 700;
  font-size: 14px;
}

/* orders */
.orders {
  color: aliceblue;
  margin-left: 25px;
}
.ord {
  font-size: 13px;
}
.reo {
  font-weight: 700;
}

/* Cart */

.cart {
  color: aliceblue;
  margin-left: 30px;
  display: flex;
  align-self: center;
  justify-content: center;
}
.cart-icon {
  font-size: 27px;
}
.onlycart {
  align-items: bottom;
  padding-top: 12px;
}

.header2 {
  height: 40px;
  background-color: #222f3d;
}
.nav-spirit {
  height: 40px;

  display: flex;
}

/* menu logo */
.menu {
  color: azure;
  font-weight: 800;
  height: 37px;
  width: 80px;
  margin-left: 15px;
  display: flex;
  align-items: center;
}
/* menu items */
.other-ser {
  height: 40px;
  margin-right: 30px;
  width: 1700px;
  display: flex;
  align-items: center;
  color: azure;
  justify-content: space-evenly;
}
.element-div {
  height: 36px;
  width: auto;
  display: flex;
  align-items: center;
}

/* Main content */

.site-content {
  height: 650px;
  display: flex;
  justify-content: center;
}
.hero-image {
  background-image: url("hero_image.jpg");
  background-size: cover;
  height: 600px;
  width: 1500px;
  display: flex;
  text-align: bottom;
}

.item1 {
  height: 420px;
  width: 350px;
  background-color: whitesmoke;
  margin-left: 20px;
  margin-top: 250px;
  display: flex;
  flex-direction: column;
}
.item1-text {
  height: 50px;
  width: 310px;
  font-size: 1.5rem;
  /* background-color: aquamarine; */
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 600;
}

.item1-image {
  background-image: url("box2_image.jpg");
  background-size: cover;
  height: 286px;
  width: 320px;
  margin-left: 15px;
  margin-top: 7px;
  margin-bottom: 5px;
  /* background-color: black; */
}
.item1-text2 {
  margin-top: 20px;
  font-size: 0.8rem;
  color: cadetblue;
}
.item2 {
  height: 420px;
  width: 350px;
  background-color: whitesmoke;
  margin-left: 20px;
  margin-top: 250px;
  display: flex;
  flex-direction: column;
}
.item2-text {
  height: 50px;
  width: 310px;
  font-size: 1.5rem;
  /* background-color: aquamarine; */
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 600;
}

.item2-image {
  background-image: url("box1_image.jpg");
  background-size: cover;
  height: 286px;
  width: 320px;
  margin-left: 15px;
  margin-top: 7px;
  margin-bottom: 5px;
  /* background-color: black; */
}
.item2-text2 {
  margin-top: 20px;
  font-size: 0.8rem;
  color: cadetblue;
}
.item3 {
  height: 420px;
  width: 350px;
  background-color: whitesmoke;
  margin-left: 20px;
  margin-top: 250px;
  display: flex;
  flex-direction: column;
}
.item3-text {
  height: 50px;
  width: 310px;
  font-size: 1.5rem;
  /* background-color: aquamarine; */
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 600;
}

.item3-image {
  background-image: url("box5_image.jpg");
  background-size: cover;
  height: 286px;
  width: 320px;
  margin-left: 15px;
  margin-top: 7px;
  margin-bottom: 5px;
  /* background-color: black; */
}
.item3-text2 {
  margin-top: 20px;
  font-size: 0.8rem;
  color: cadetblue;
}

.item4 {
  height: 420px;
  width: 350px;
  background-color: whitesmoke;
  margin-left: 20px;
  margin-top: 250px;
  display: flex;
  flex-direction: column;
}
.item4-text {
  height: 50px;
  width: 310px;
  font-size: 1.5rem;
  /* background-color: aquamarine; */
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 600;
}

.item4-image {
  background-image: url("box4_image.jpg");
  background-size: cover;
  height: 286px;
  width: 320px;
  margin-left: 15px;
  margin-top: 7px;
  margin-bottom: 5px;
  /* background-color: black; */
}
.item4-text2 {
  margin-top: 20px;
  font-size: 0.8rem;
  color: cadetblue;
}

/* Other items */

.other_items {
  height: 5000px;
  width: 100%;
  /* background-color: black; */
}

.row1 {
  height: 486px;
  display: flex;
  /* background-color: #febd69; */
  justify-content: center;
  margin-right: 20px;
  /* margin: ; */
}

.item5 {
  height: 420px;
  width: 350px;
  background-color: whitesmoke;
  margin-left: 20px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}
.item5-text {
  height: 50px;
  width: 310px;
  font-size: 1.5rem;
  /* background-color: aquamarine; */
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 600;
}

.item5-image {
  background-image: url("box5_image.jpg");
  background-size: cover;
  height: 286px;
  width: 320px;
  margin-left: 15px;
  margin-top: 7px;
  margin-bottom: 5px;
  /* background-color: black; */
}
.item5-text2 {
  margin-top: 20px;
  font-size: 0.8rem;
  color: cadetblue;
}
.item6 {
  height: 420px;
  width: 350px;
  background-color: whitesmoke;
  margin-left: 20px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}
.item6-text {
  height: 50px;
  width: 310px;
  font-size: 1.5rem;
  /* background-color: aquamarine; */
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 600;
}

.item6-image {
  background-image: url("box8_image.jpg");
  background-size: cover;
  height: 286px;
  width: 320px;
  margin-left: 15px;
  margin-top: 7px;
  margin-bottom: 5px;
  /* background-color: black; */
}
.item6-text2 {
  margin-top: 20px;
  font-size: 0.8rem;
  color: cadetblue;
}
.item7 {
  height: 420px;
  width: 350px;
  background-color: whitesmoke;
  margin-left: 20px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}
.item7-text {
  height: 50px;
  width: 310px;
  font-size: 1.5rem;
  /* background-color: aquamarine; */
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 600;
}

.item7-image {
  background-image: url("box3_image.jpg");
  background-size: cover;
  height: 286px;
  width: 320px;
  margin-left: 15px;
  margin-top: 7px;
  margin-bottom: 5px;
  /* background-color: black; */
}
.item7-text2 {
  margin-top: 20px;
  font-size: 0.8rem;
  color: cadetblue;
}
.item8 {
  height: 420px;
  width: 350px;
  background-color: whitesmoke;
  margin-left: 20px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}
.item8-text {
  height: 50px;
  width: 310px;
  font-size: 1.5rem;
  /* background-color: aquamarine; */
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 600;
}

.item8-image {
  background-image: url("box7_image.jpg");
  background-size: cover;
  height: 286px;
  width: 320px;
  margin-left: 15px;
  margin-top: 7px;
  margin-bottom: 5px;
  /* background-color: black; */
}
.item8-text2 {
  margin-top: 20px;
  font-size: 0.8rem;
  color: cadetblue;
}

.row2 {
  height: 320px;
  /* background-color: chartreuse; */
  display: flex;
  justify-content: center;
}
.widget1 {
  width: 1425px;
  height: 285px;
  padding: 10px 20px;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}
.widget1-text {
  height: 35px;
  font-size: 1.5rem;
  margin-top: 10px;
  font-weight: 900;
}
.widget1-image {
  padding-top: 10px;
  background-image: url(box9_image.jpg);
  background-size: cover;
  height: 200px;
}

/* row3 */

.row3 {
  height: 486px;
  display: flex;
  /* background-color: #febd69; */
  justify-content: center;
  margin-right: 20px;
  /* margin: ; */
}

.item10 {
  height: 420px;
  width: 350px;
  background-color: whitesmoke;
  margin-left: 20px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
.item10-text {
  height: 50px;
  width: 310px;
  font-size: 1.5rem;
  /* background-color: aquamarine; */
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 600;
}

.item10-image {
  background-image: url("10.png");
  background-size: cover;
  height: 286px;
  width: 320px;
  margin-left: 15px;
  margin-top: 7px;
  margin-bottom: 5px;
  /* background-color: black; */
}
.item10-text2 {
  margin-top: 20px;
  font-size: 0.8rem;
  color: cadetblue;
}
.item11 {
  height: 420px;
  width: 350px;
  background-color: whitesmoke;
  margin-left: 20px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
.item11-text {
  height: 50px;
  width: 310px;
  font-size: 1.5rem;
  /* background-color: aquamarine; */
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 600;
}

.item11-image {
  background-image: url("11.png");
  background-size: cover;
  height: 286px;
  width: 320px;
  margin-left: 15px;
  margin-top: 7px;
  margin-bottom: 5px;
  /* background-color: black; */
}
.item11-text2 {
  margin-top: 20px;
  font-size: 0.8rem;
  color: cadetblue;
}
.item12 {
  height: 420px;
  width: 350px;
  background-color: whitesmoke;
  margin-left: 20px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
.item12-text {
  height: 50px;
  width: 310px;
  font-size: 1.5rem;
  /* background-color: aquamarine; */
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 600;
}

.item12-image {
  background-image: url("12.png");
  background-size: cover;
  height: 286px;
  width: 320px;
  margin-left: 15px;
  margin-top: 7px;
  margin-bottom: 5px;
  /* background-color: black; */
}
.item12-text2 {
  margin-top: 20px;
  font-size: 0.8rem;
  color: cadetblue;
}
.item13 {
  height: 420px;
  width: 350px;
  background-color: whitesmoke;
  margin-left: 20px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
.item13-text {
  height: 50px;
  width: 310px;
  font-size: 1.5rem;
  /* background-color: aquamarine; */
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 600;
}

.item13-image {
  background-image: url("13.png");
  background-size: cover;
  height: 286px;
  width: 320px;
  margin-left: 15px;
  margin-top: 7px;
  margin-bottom: 5px;
  /* background-color: black; */
}
.item13-text2 {
  margin-top: 20px;
  font-size: 0.8rem;
  color: cadetblue;
}

/* row4 */

.row4 {
  height: 320px;
  /* background-color: chartreuse; */
  display: flex;
  justify-content: center;
}
.widget2 {
  width: 1425px;
  height: 285px;
  padding: 10px 20px;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}
.widget2-text {
  height: 35px;
  font-size: 1.5rem;
  margin-top: 10px;
  font-weight: 900;
}
.widget2-image {
  padding-top: 10px;
  background-image: url(14.png);
  background-size: cover;
  height: 200px;
}

/* row */

.row3 {
  height: 450px;
  display: flex;
  /* background-color: #febd69; */
  justify-content: center;
  margin-right: 20px;
  /* margin: ; */
}

.item10 {
  height: 420px;
  width: 350px;
  background-color: whitesmoke;
  margin-left: 20px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
.item10-text {
  height: 50px;
  width: 310px;
  font-size: 1.5rem;
  /* background-color: aquamarine; */
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 600;
}

.item10-image {
  background-image: url("10.png");
  background-size: cover;
  height: 286px;
  width: 320px;
  margin-left: 15px;
  margin-top: 7px;
  margin-bottom: 5px;
  /* background-color: black; */
}
.item10-text2 {
  margin-top: 20px;
  font-size: 0.8rem;
  color: cadetblue;
}
.item11 {
  height: 420px;
  width: 350px;
  background-color: whitesmoke;
  margin-left: 20px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
.item11-text {
  height: 50px;
  width: 310px;
  font-size: 1.5rem;
  /* background-color: aquamarine; */
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 600;
}

.item11-image {
  background-image: url("11.png");
  background-size: cover;
  height: 286px;
  width: 320px;
  margin-left: 15px;
  margin-top: 7px;
  margin-bottom: 5px;
  /* background-color: black; */
}
.item11-text2 {
  margin-top: 20px;
  font-size: 0.8rem;
  color: cadetblue;
}
.item12 {
  height: 420px;
  width: 350px;
  background-color: whitesmoke;
  margin-left: 20px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
.item12-text {
  height: 50px;
  width: 310px;
  font-size: 1.5rem;
  /* background-color: aquamarine; */
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 600;
}

.item12-image {
  background-image: url("12.png");
  background-size: cover;
  height: 286px;
  width: 320px;
  margin-left: 15px;
  margin-top: 7px;
  margin-bottom: 5px;
  /* background-color: black; */
}
.item12-text2 {
  margin-top: 20px;
  font-size: 0.8rem;
  color: cadetblue;
}
.item13 {
  height: 420px;
  width: 350px;
  background-color: whitesmoke;
  margin-left: 20px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
.item13-text {
  height: 50px;
  width: 310px;
  font-size: 1.5rem;
  /* background-color: aquamarine; */
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 600;
}

.item13-image {
  background-image: url("13.png");
  background-size: cover;
  height: 286px;
  width: 320px;
  margin-left: 15px;
  margin-top: 7px;
  margin-bottom: 5px;
  /* background-color: black; */
}
.item13-text2 {
  margin-top: 20px;
  font-size: 0.8rem;
  color: cadetblue;
}

/* row5 */

.row5 {
  height: 320px;
  /* background-color: chartreuse; */
  display: flex;
  justify-content: center;
}
.widget5 {
  width: 1425px;
  height: 285px;
  padding: 10px 20px;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}
.widget5-text {
  height: 35px;
  font-size: 1.5rem;
  margin-top: 10px;
  font-weight: 900;
}
.widget5-image {
  padding-top: 10px;
  background-image: url(15.png);
  background-size: cover;
  height: 200px;
}

/* Row6 */

.row6 {
  height: 320px;
  /* background-color: chartreuse; */
  display: flex;
  justify-content: center;
}
.widget6 {
  width: 1425px;
  height: 285px;
  padding: 10px 20px;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}
.widget6-text {
  height: 35px;
  font-size: 1.5rem;
  margin-top: 10px;
  font-weight: 900;
}
.widget6-image {
  padding-top: 10px;
  background-image: url(16.png);
  background-size: cover;
  height: 200px;
}

/* row7 */

.row7 {
  height: 450px;
  display: flex;
  /* background-color: #febd69; */
  justify-content: center;
  margin-right: 20px;
  /* margin: ; */
}

.item17 {
  height: 420px;
  width: 350px;
  background-color: whitesmoke;
  margin-left: 20px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
.item17-text {
  height: 50px;
  width: 310px;
  font-size: 1.5rem;
  /* background-color: aquamarine; */
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 600;
}

.item17-image {
  background-image: url("17.png");
  background-size: cover;
  height: 286px;
  width: 320px;
  margin-left: 15px;
  margin-top: 7px;
  margin-bottom: 5px;
  /* background-color: black; */
}
.item17-text2 {
  margin-top: 20px;
  font-size: 0.8rem;
  color: cadetblue;
}
.item18 {
  height: 420px;
  width: 350px;
  background-color: whitesmoke;
  margin-left: 20px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
.item18-text {
  height: 50px;
  width: 310px;
  font-size: 1.5rem;
  /* background-color: aquamarine; */
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 600;
}

.item18-image {
  background-image: url("18.png");
  background-size: cover;
  height: 286px;
  width: 320px;
  margin-left: 15px;
  margin-top: 7px;
  margin-bottom: 5px;
  /* background-color: black; */
}
.item18-text2 {
  margin-top: 20px;
  font-size: 0.8rem;
  color: cadetblue;
}
.item19 {
  height: 420px;
  width: 350px;
  background-color: whitesmoke;
  margin-left: 20px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
.item19-text {
  height: 50px;
  width: 310px;
  font-size: 1.5rem;
  /* background-color: aquamarine; */
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 600;
}

.item19-image {
  background-image: url("19.png");
  background-size: cover;
  height: 286px;
  width: 320px;
  margin-left: 15px;
  margin-top: 7px;
  margin-bottom: 5px;
  /* background-color: black; */
}
.item19-text2 {
  margin-top: 20px;
  font-size: 0.8rem;
  color: cadetblue;
}
.item20 {
  height: 420px;
  width: 350px;
  background-color: whitesmoke;
  margin-left: 20px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
.item20-text {
  height: 50px;
  width: 310px;
  font-size: 1.5rem;
  /* background-color: aquamarine; */
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 600;
}

.item20-image {
  background-image: url("20.png");
  background-size: cover;
  height: 286px;
  width: 320px;
  margin-left: 15px;
  margin-top: 7px;
  margin-bottom: 5px;
  /* background-color: black; */
}
.item20-text2 {
  margin-top: 20px;
  font-size: 0.8rem;
  color: cadetblue;
}






/* sign in menu */

.sign-in-menu{
  height: 175px;
  /* background-color: goldenrod; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.recom{
  height: 30px;
  /* background-color: aliceblue; */
  margin-top: 40px;
  display: flex;
  align-items: centre;
  justify-content: center;
}

.recom1{
color: black;
font-size: 30px;
font-weight: 700;
}
.sign-in{
  width: 250px;
  height: 30px;
  border-radius: 25px;
  margin-top: 5px;
  /* border-top-left-radius: 9px; */
  /* border-top-left-radius: 9px;
  border-top-left-radius: 9px;
  border-top-left-radius: 9px; */
  background-color: #FFD814;
  /* margin-top: 40px; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.signintext{
  color: #11100f;
  font-size: 20px;
}
.new{
  height: 30px;
  /* background-color: aliceblue; */
  /* margin-top: 40px; */
}
.newc{
  color: aqua;
}

.back{
  height: 50px;
display: flex;
justify-content: center;
  align-items: center;
  background-color: #222f3d;
}

.backto{
color: whitesmoke;
}